<VirtualHost *:80>
    DocumentRoot /var/www/snipe-it/public
    ServerName 54.237.235.164

    <Directory /var/www/snipe-it/public>
        Allow From All
        AllowOverride All
        Options -Indexes
    </Directory>
</VirtualHost>
