<VirtualHost *:80>
    DocumentRoot /var/www/snipe-it/public
    ServerName 44.201.141.177   

    <Directory /var/www/snipe-it/public>
        Allow From All
        AllowOverride All
        Options -Indexes
    </Directory>
</VirtualHost>
